[Unit]
Description=Tempaast-#{probeName}
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=#{installation_dir}
ExecStart=main.py "#{probeDir}" "#{probeName}" "#{userId}"
User=tempaast
Group=tempaast
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
