[Unit]
Description=Tempaast-#{probeName}
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=#{installation_dir}
ExecStart=#{installation_dir}/main.py "#{probeDir}" "#{probeName}" "#{userId}"
User=tempaast
Group=tempaast
StandardInput=tty-force

Restart=Always
RestartSec=10

[Install]
WantedBy=multi-user.target
